html
  head
    title= title
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css')
    link(rel='stylesheet' href='/css/uikit-theme.css')
  body
    block header
        include blocks/header.pug

    .uk-container
        block content

    block footer

    block scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js')
        script(src='/js/app.js')