div(style="padding-top: 70px").uk-flex.uk-flex-center
    .uk-card.uk-card-default.uk-width-1-2
        .uk-card-body.uk-flex.uk-flex-column.uk-flex-middle
            div.uk-width-1-1
                h1.uk-heading-line.uk-text-center
                    span= title
            .uk-width-3-4.uk-flex-center
                form.uk-form-stacked(method="POST" name= title.toLowerCase())
                    .uk-margin
                        label.uk-form-label(for='username') Username
                        .uk-form-controls
                            .uk-position-relative
                                span.uk-form-icon(uk-icon='icon: user')
                                input#username.uk-input(type='text' name="username")

                    .uk-margin
                        label.uk-form-label(for='password') Password
                        .uk-form-controls
                            .uk-position-relative
                                span.uk-form-icon(uk-icon='icon: lock')
                                input#password.uk-input(type='password' name="password")

                    .uk-text-center
                        button#submitButton(class="uk-button uk-button-primary") Submit


