nav
  .nav-wrapper
    ul#nav-mobile.right.hide-on-med-and-down
      if user
        li
          a#logoutButton(href='/login') Logout
      else
        li
          a(href='/login') Login
        li
          a(href='/registration') Registration
