nav.uk-navbar-container.tm-navbar-container
  .uk-container
    div(uk-navbar='')
      .uk-navbar-right
        ul.uk-navbar-nav
          if user
            li
              a#logoutButton(href='/login') Logout
          else
            li(class= pageName == 'login' ? 'uk-active' : '')
              a(href='/login') Login
            li(class= pageName == 'registration' ? 'uk-active' : '')
              a(href='/registration') Registration
