nav
  .nav-wrapper
    ul#nav-mobile.right.hide-on-med-and-down
      if user
        li
          a#logoutButton(href='/login') Logout
      else
        li(class= pageName == 'login' ? 'active' : '')
          a(href='/login') Login
        li(class= pageName == 'registration' ? 'active' : '')
          a(href='/registration') Registration
